@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Vehicles;

<h1>Create</h1>

<hr />

<div class="row">
	<div class="col-6">

		<div class="card">
			<div class="card-header">
				<h5>Create a new vehicle</h5>
			</div>
			<div class="card-body">
				<form asp-controller="Vehicles" asp-action="CreateVehicle" method="post">
					<div class="mb-3">
						<label class="form-label">
							Car Brand
							<input asp-for=Brand type="text" class="form-control" />

						</label>
					</div>
					<div class="mb-3">
						<label class="form-label">
							Car Vin
							<input asp-for=Vin type="text" class="form-control" />

						</label>
					</div>
					<div class="mb-3">
						<label class="form-label">
							Car Color
							<input asp-for=Color type="text" class="form-control" />

						</label>
					</div>
					<div class="mb-3">
						<label class="form-label">
							Car Year
							<input asp-for=Year type="text" class="form-control" />

						</label>
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
			<div class="card-footer"></div>
		</div>



	</div>
</div>

